<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.GoodMapper">
    <!--手动映射-->
    <resultMap id="umap" type="com.zb.pojo.Goodsku">
        <result property="id" column="id"></result>
        <result property="skuName" column="sku_name"></result>
        <result property="skuDesc" column="sku_desc"></result>
        <result property="createTime" column="create_time"></result>
        <result property="renewTime" column="renew_time"></result>
        <association property="goodspu" javaType="com.zb.pojo.Goodspu">
            <result property="goodName" column="good_name"></result>
            <result property="id" column="id"></result>
            <result property="brand" column="brand"></result>
        </association>
        <association property="sort" javaType="com.zb.pojo.Sort">
            <result property="sortName" column="sort_name"></result>
        </association>
        <association property="color" javaType="com.zb.pojo.Color">
            <result property="colorName" column="color_name"></result>
        </association>
        <association property="price" javaType="com.zb.pojo.Price">
            <result property="price" column="price"></result>
        </association>
        <association property="units" javaType="com.zb.pojo.Units">
            <result property="unitsName" column="units_name"></result>
        </association>
        <collection property="user" ofType="com.zb.pojo.User">
            <result property="username" column="username"></result>
            <result property="userRenewName" column="userrenewname"></result>
        </collection>
    </resultMap>


    <resultMap id="smap" type="com.zb.pojo.Goodspu">
        <result property="id" column="id"></result>
        <result property="goodName" column="good_name"></result>
        <result property="brand" column="brand"></result>
        <result property="createTime" column="create_time"></result>
        <result property="renewTime" column="renew_time"></result>
        <association property="sort" javaType="com.zb.pojo.Sort">
            <result property="sortName" column="sort_name"></result>
        </association>
        <association property="color" javaType="com.zb.pojo.Color">
            <result property="colorName" column="color_name"></result>
        </association>
        <association property="units" javaType="com.zb.pojo.Units">
            <result property="unitsName" column="units_name"></result>
        </association>
        <collection property="user" ofType="com.zb.pojo.User">
            <result property="username" column="username"></result>
            <result property="userRenewName" column="userrenewname"></result>
        </collection>
    </resultMap>
    <!--添加-->
    <insert id="insertGoodspu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO goodspu values (default,#{goodName},#{brand},#{sortId},#{createUserId},#{createTime},#{userRenewId},#{renewTime})
    </insert>
    <insert id="insertGood">
        insert into goodsku values
        (default ,#{spuId},#{skuName},#{skuDesc},#{priceId},#{colorId},#{companyId},#{createUserId},#{createTime},#{userRenewId},#{renewTime},0,default,default)
    </insert>
    <insert id="insertprice" useGeneratedKeys="true" keyProperty="id">
        insert into price (sku_id,price) value (#{skuId},#{price})
    </insert>
    <insert id="insertSort" useGeneratedKeys="true" keyProperty="id">
        insert into sort(id,sort_name,create_user_id,create_time,user_renew_id,renew_time) values (default ,#{sortName},#{createUserId},#{createTime},#{userRenewId},#{renewTime})
    </insert>
    <insert id="insertColor">
        insert into color values(default,#{colorName},#{createUserId},#{createTime},#{userRenewId},#{renewTime},default,default,default)
    </insert>
    <insert id="insertUnits">
        insert into units (id,units_name,create_user_id,create_time,user_renew_id,renew_time) values (default ,#{unitsName},#{createUserId},#{createTime},#{userRenewId},#{renewTime})
    </insert>
    <select id="findSort"  resultType="com.zb.pojo.Sort" >
        SELECT id FROM sort WHERE sort_name = #{sortName}
    </select>
    <select id="findColor" resultType="com.zb.pojo.Color">
        select id from color where color_name = #{colorName}
    </select>
    <select id="findUnits" resultType="com.zb.pojo.Units">
        select id from units where units_name = #{unitsName}
    </select>
    <!--逻辑删除-->
    <update id="updateLogic_status">
          update goodsku set logic_status = 1 where id = #{id}
    </update>
    <!--修改-->
    <update id="updateGood">
        UPDATE goodsku SET
        spu_id = #{spuId},
        sku_name = #{skuName},
        sku_desc = #{skuDesc},
        color_id = #{colorId},
        company_id = #{companyId},
        price_id = #{priceId},
        user_renewId = #{userRenewId},
        renew_time = #{renewTime}
        WHERE id = #{id}
    </update>
    <update id="updateSpu" useGeneratedKeys="true" keyProperty="id">
        update goodspu set brand = #{brand},sort_id = #{sortId} where id = #{id}
    </update>
    <update id="updateSort" useGeneratedKeys="true" keyProperty="id">
        update sort set sort_name = #{sortName} where id = #{id}
    </update>
    <update id="updatePrice" useGeneratedKeys="true" keyProperty="id">
        update price set price = #{price} where id = #{id}
    </update>
    <update id="updateColor" useGeneratedKeys="true" keyProperty="id">
        update color set color_name = #{colorName} where id = #{id}
    </update>
    <update id="updateGoodskuPrice">
        update goodsku set price_id = #{priceId} where id = #{id}
    </update>
    <update id="updateUnits">
        update units set units_name = #{unitsName} where id = #{id}
    </update>
    <select id="findspu" resultType="com.zb.pojo.Goodspu">
        select id from goodspu where id = #{id}
    </select>
    <select id="findPrice" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM price WHERE price = #{price}
    </select>
    <select id="findPriceTwo" resultType="com.zb.pojo.Price">
        select id from price where price = #{price}
    </select>
    <!--查询全部-->
    <select id="listGood" resultMap="umap">
           SELECT k.id,
          p.id,
          p.good_name,
        k.sku_name,
        k.sku_desc,
        p.brand,
        s.`sort_name`,
        pr.`price`,
        c.`color_name`,
        un.`units_name`,
        u.`username` ,
	k.`create_time` ,
	us.`username` userrenewname ,
        k.`renew_time`
        FROM goodsku k
        LEFT JOIN goodspu p ON k.spu_id= p.`id`
        LEFT JOIN `user` u ON u.`id` = k.`create_user_id`
        LEFT JOIN `user` us ON us.`id` = k.`user_renewId`
        LEFT JOIN price pr ON pr.`id` = k.price_id
        LEFT JOIN color c ON c.id = k.color_id
        LEFT JOIN units un ON un.`id` = k.`company_id`
        LEFT JOIN sort s ON s.`id` = p.sort_id
        WHERE logic_status = 0
        ORDER BY pr.`price`
    </select>
    <!--查询总记录数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from goodsku
    </select>
    <!--查询全部-->
    <select id="findAllGoodsku" resultMap="umap">
        SELECT k.id,
        k.sku_name,
        k.sku_desc,
        p.brand,
        s.`sort_name`,
        pr.`price`,
        c.`color_name`,
        un.`units_name`,
        u.`username` ,
	    k.`create_time` ,
	    us.`username` userrenewname ,
        k.`renew_time`
        FROM goodsku k
        INNER JOIN goodspu p ON k.spu_id= p.`id`
        INNER JOIN `user` u ON u.`id` = k.`create_user_id`
        INNER JOIN `user` us ON us.`id` = k.`user_renewId`
        INNER JOIN price pr ON pr.`id` = k.price_id
        INNER JOIN color c ON c.id = k.color_id
        INNER JOIN units un ON un.`id` = p.`company_id`
        INNER JOIN sort s ON s.`id` = p.sort_id
        WHERE logic_status = 0
        ORDER BY pr.`price`
    </select>
    <!--根据商品名或分类查询-->
    <select id="fingByskuNameorSortName" resultMap="umap">
        SELECT k.id,
        p.good_name,
        k.sku_desc,
        p.brand,
        s.`sort_name`,
        pr.`price`,
        c.`color_name`,
        un.`units_name`,
        u.`username` ,
        k.`create_time` ,
        us.`username` userrenewname ,
        k.`renew_time`
        FROM goodsku k
        INNER JOIN goodspu p ON k.spu_id= p.`id`
        INNER JOIN `user` u ON u.`id` = k.`create_user_id`
        INNER JOIN `user` us ON us.`id` = k.`user_renewId`
        INNER JOIN price pr ON pr.`id` = k.price_id
        INNER JOIN color c ON c.id = k.color_id
        INNER JOIN units un ON un.`id` = k.`company_id`
        INNER JOIN sort s ON s.`id` = p.sort_id
        WHERE logic_status = 0
        <if test="skuName != null">
            <![CDATA[
            AND k.`sku_name` LIKE concat ('%',#{skuName},'%')
            ]]>
        </if>
        <if test="sortName != null">
        <![CDATA[
            AND s.`sort_name` LIKE concat ('%',#{sortName},'%')
            ]]>
    </if>
    </select>
    <select id="findWarehouseTwo" resultType="java.lang.Integer">
        select count(id) from warehouse where stock_number = #{stockNumber}
    </select>
    <select id="findVendor" resultType="java.lang.Integer">
        select count(id) from vendor where vendor_name = #{vendorName}
    </select>
    <select id="findVendorTwo" resultType="com.zb.pojo.Vendor">
        select id from vendor where vendor_name = #{vendorName}
    </select>
    <select id="listGoodSpu" resultMap="smap">
         SELECT g.id,g.good_name,g.brand,s.`sort_name`,u.`username`,g.create_time,us.`username` userrenewname,g.renew_time FROM goodspu g INNER JOIN sort s ON s.`id` = g.sort_id
         INNER JOIN `user` u ON u.`id` = g.`create_user_id`
         INNER JOIN `user` us ON us.`id` = g.`user_renew_Id`
    </select>
    <select id="findGoodName" resultType="com.zb.pojo.Goodspu">
        SELECT good_name FROM goodspu WHERE id = #{id}
    </select>
    <select id="listGoodskuMessage" resultType="com.zb.pojo.Goodsku">
        SELECT spu_id FROM goodsku g INNER JOIN goodspu  p ON g.spu_id = p.id
    </select>
    <select id="listGoodspu" resultType="com.zb.pojo.Goodspu">
        SELECT * FROM goodspu
    </select>

    <resultMap id="amap" type="com.zb.pojo.Goodsku">
        <result property="id" column="id"></result>
        <result property="skuName" column="sku_name"></result>
        <result property="skuDesc" column="sku_desc"></result>
        <result property="priceId" column="price_id"></result>
        <result property="colorId" column="color_id"></result>
        <result property="companyId" column="company_id"></result>
        <result property="spuId" column="spu_id"></result>
        <association property="price" javaType="com.zb.pojo.Price">
            <result property="price" column="price"></result>
        </association>
        <association property="goodspu" javaType="com.zb.pojo.Goodspu">
            <result property="goodName" column="good_name"></result>
            <result property="brand" column="brand"></result>
            <result property="sortId" column="sort_id"></result>
        </association>
    </resultMap>

    <select id="listByid" resultMap="amap">
            SELECT g.*,p.price,sp.brand,sp.sort_id FROM goodsku g INNER JOIN price p ON p.id = g.price_id
        INNER JOIN goodspu sp ON sp.id = g.spu_id
        WHERE g.id = #{id}
    </select>
    <select id="listBySkuName" resultType="com.zb.pojo.Goodsku">
        select sku_name,color_id,price_id FROM goodsku WHERE sku_name = #{skuName} AND price_id = #{priceId} and color_id = #{colorId}
    </select>
    <select id="listColor" resultType="com.zb.pojo.Color">
        select * from color
    </select>
    <select id="listSort" resultType="com.zb.pojo.Sort">
        select * from sort
    </select>
    <select id="listUnits" resultType="com.zb.pojo.Units">
        select * from units
    </select>
    <select id="findColorTwo" resultType="com.zb.pojo.Color">
        SELECT * FROM color WHERE color_name = #{colorName}
    </select>
    <select id="findSortTwo" resultType="com.zb.pojo.Sort">
        SELECT * FROM sort WHERE sort_name = #{sortName}
    </select>
    <select id="findUnitsTwo" resultType="com.zb.pojo.Units">
        SELECT * FROM units WHERE units_name = #{unitsName}
    </select>

</mapper>