<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.UnitsMapper">

    <select id="listUnits" resultType="com.zb.pojo.Units">
        select * from units;
    </select>
</mapper>