<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.WarehouseMapper">

    <resultMap id="wareshouseMap" type="com.zb.pojo.Warehouse">
        <result property="id" column="w_id"/>
        <result property="detailedPurchaseId" column="w_detailed_purchase_id"/>
        <result property="stockNumber" column="w_stock_number"/>
        <result property="warehouseAddress" column="w_warehouse_address"/>
        <result property="phone" column="w_phone"/>
        <result property="createUserId" column="w_create_user_id"/>
        <result property="createTime" column="w_create_time"/>
        <result property="userRenewId" column="w_user_renew_id"/>
        <result property="renewTime" column="w_renew_time"/>
        <result property="skuId" column="w_sku_id"/>

        <association property="detailedPurchase" javaType="com.zb.pojo.DetailedPurchase">
            <result property="id" column="dp_id"/>
            <result property="purchaseId" column="dp_purchase_id"/>
            <result property="vendorId" column="dp_vendor_id"/>
            <result property="skuId" column="dp_sku_id"/>
            <result property="batch" column="dp_batch"/>
            <result property="purchasePrice" column="dp_purchase_price"/>
            <result property="number" column="dp_number"/>
            <result property="status" column="dp_status"/>
            <result property="createUserId" column="dp_create_user_id"/>
            <result property="createTime" column="dp_create_time"/>
            <result property="userRenewId" column="dp_user_renew_id"/>
            <result property="renewTime" column="dp_renew_time"/>
            <association property="vendor" javaType="com.zb.pojo.Vendor">
                <result property="id" column="v_id"/>
                <result property="vendorName" column="v_vendor_name"/>
                <result property="skuId" column="v_sku_id"/>
                <result property="vendorAddress" column="v_vendor_address"/>
                <result property="desc" column="v_desc"/>
                <result property="principal" column="v_principal"/>
                <result property="tel" column="v_tel"/>
                <result property="createUserId" column="v_create_user_id"/>
                <result property="createTime" column="v_create_time"/>
                <result property="userRenewId" column="v_user_renew_id"/>
                <result property="renewTime" column="v_renew_time"/>
            </association>
        </association>

        <association property="goodsku" javaType="com.zb.pojo.Goodsku">
            <result property="id" column="g_id"/>
            <result property="spuId" column="g_spu_id"/>
            <result property="skuName" column="g_sku_name"/>
            <result property="skuDesc" column="g_sku_desc"/>
            <result property="colorId" column="g_color_id"/>
            <result property="priceId" column="g_price_id"/>
            <result property="stockId" column="g_Stock_id"/>
            <result property="salesVolume" column="g_sales_volume"/>
            <result property="companyId" column="g_company_id"/>
            <result property="manufacturer" column="g_manufacturer"/>
            <result property="supplierId" column="g_Supplier_id"/>
            <result property="createUserId" column="g_create_user_id"/>
            <result property="createTime" column="g_create_time"/>
            <result property="userRenewId" column="g_user_renewId"/>
            <result property="renewTime" column="g_renew_time"/>
        </association>


        <association property="createUser" javaType="com.zb.pojo.User">
            <result property="id" column="c_id"/>
            <result property="roleId" column="c_role_id"/>
            <result property="username" column="c_username"/>
            <result property="password" column="c_password"/>
            <result property="address" column="c_address"/>
            <result property="phone" column="c_phone"/>
            <result property="createUserId" column="c_create_user_id"/>
            <result property="createTime" column="c_create_time"/>
            <result property="userRenewId" column="c_user_renew_id"/>
            <result property="renewTime" column="c_renew_time"/>
        </association>
        <association property="userRenew" javaType="com.zb.pojo.User">
            <result property="id" column="r_id"/>
            <result property="roleId" column="r_role_id"/>
            <result property="username" column="r_username"/>
            <result property="password" column="r_password"/>
            <result property="address" column="r_address"/>
            <result property="phone" column="r_phone"/>
            <result property="createUserId" column="r_create_user_id"/>
            <result property="createTime" column="r_create_time"/>
            <result property="userRenewId" column="r_user_renew_id"/>
            <result property="renewTime" column="r_renew_time"/>
        </association>
    </resultMap>
    <insert id="insert">
        insert into warehouse (id, detailed_purchase_id, stock_number, warehouse_address, phone, create_user_id,
                               create_time, sku_id)
        values (default, #{detailedPurchaseId}, #{stockNumber}, #{warehouseAddress}, #{phone}, #{createUserId},
                #{createTime},#{skuId});
    </insert>


    <select id="selectAll" resultMap="wareshouseMap">
        select w.id                   as w_id,
               w.detailed_purchase_id as w_detailed_purchase_id,
               w.stock_number         as w_stock_number,
               w.warehouse_address    as w_warehouse_address,
               w.phone                as w_phone,
               w.create_user_id       as w_create_user_id,
               w.create_time          as w_create_time,
               w.user_renew_id        as w_user_renew_id,
               w.renew_time           as w_renew_time,
               w.sku_id               as w_sku_id,

               dp.id                  as dp_id,
               dp.purchase_id         as dp_purchase_id,
               dp.vendor_id           as dp_vendor_id,
               dp.sku_id              as dp_sku_id,
               dp.batch               as dp_batch,
               dp.purchase_price      as dp_purchase_price,
               dp.number              as dp_number,
               dp.status              as dp_status,
               dp.create_user_id      as dp_create_user_id,
               dp.create_time         as dp_create_time,
               dp.user_renew_id       as dp_user_renew_id,
               dp.renew_time          as dp_renew_time,

               g.id                   as g_id,
               g.spu_id               as g_spu_id,
               g.sku_name             as g_sku_name,
               g.sku_desc             as g_sku_desc,
               g.color_id             as g_color_id,
               g.price_id             as g_price_id,
               g.Stock_id             as g_Stock_id,
               g.sales_volume         as g_sales_volume,
               g.company_id           as g_company_id,
               g.manufacturer         as g_manufacturer,
               g.Supplier_id          as g_Supplier_id,
               g.create_user_id       as g_create_user_id,
               g.create_time          as g_create_time,
               g.user_renewId         as g_user_renewId,
               g.renew_time           as g_renew_time,

               c.id                   as c_id,
               c.role_id              as c_role_id,
               c.username             as c_username,
               c.password             as c_password,
               c.address              as c_address,
               c.phone                as c_phone,
               c.create_user_id       as c_create_user_id,
               c.create_time          as c_create_time,
               c.user_renew_id        as c_user_renew_id,
               c.renew_time           as c_renew_time,

               r.id                   as r_id,
               r.role_id              as r_role_id,
               r.username             as r_username,
               r.password             as r_password,
               r.address              as r_address,
               r.phone                as r_phone,
               r.create_user_id       as r_create_user_id,
               r.create_time          as r_create_time,
               r.user_renew_id        as r_user_renew_id,
               r.renew_time           as r_renew_time,

               v.id                   as v_id,
               v.vendor_name          as v_vendor_name,
               v.sku_id               as v_sku_id,
               v.vendor_address       as v_vendor_address,
               v.desc                 as v_desc,
               v.principal            as v_principal,
               v.tel                  as v_tel,
               v.create_user_id       as v_create_user_id,
               v.create_time          as v_create_time,
               v.user_renew_id        as v_user_renew_id,
               v.renew_time           as v_renew_time
        from warehouse w
                 left join detailed_purchase dp on w.detailed_purchase_id = dp.id
                 left join goodsku g on w.sku_id = g.id
                 left join user c on w.create_user_id = c.id
                 left join user r on w.user_renew_id = r.id
                 left join vendor v on dp.vendor_id = v.id
    </select>
    <select id="selectList" resultMap="wareshouseMap">
        select w.id                   as w_id,
               w.detailed_purchase_id as w_detailed_purchase_id,
               sum(w.stock_number)    as w_stock_number,
               w.warehouse_address    as w_warehouse_address,
               w.phone                as w_phone,
               w.create_user_id       as w_create_user_id,
               w.create_time          as w_create_time,
               w.user_renew_id        as w_user_renew_id,
               w.renew_time           as w_renew_time,
               w.sku_id               as w_sku_id,

               dp.id                  as dp_id,
               dp.purchase_id         as dp_purchase_id,
               dp.vendor_id           as dp_vendor_id,
               dp.sku_id              as dp_sku_id,
               dp.batch               as dp_batch,
               dp.purchase_price      as dp_purchase_price,
               dp.number              as dp_number,
               dp.status              as dp_status,
               dp.create_user_id      as dp_create_user_id,
               dp.create_time         as dp_create_time,
               dp.user_renew_id       as dp_user_renew_id,
               dp.renew_time          as dp_renew_time,

               g.id                   as g_id,
               g.spu_id               as g_spu_id,
               g.sku_name             as g_sku_name,
               g.sku_desc             as g_sku_desc,
               g.color_id             as g_color_id,
               g.price_id             as g_price_id,
               g.Stock_id             as g_Stock_id,
               g.sales_volume         as g_sales_volume,
               g.company_id           as g_company_id,
               g.manufacturer         as g_manufacturer,
               g.Supplier_id          as g_Supplier_id,
               g.create_user_id       as g_create_user_id,
               g.create_time          as g_create_time,
               g.user_renewId         as g_user_renewId,
               g.renew_time           as g_renew_time,

               c.id                   as c_id,
               c.role_id              as c_role_id,
               c.username             as c_username,
               c.password             as c_password,
               c.address              as c_address,
               c.phone                as c_phone,
               c.create_user_id       as c_create_user_id,
               c.create_time          as c_create_time,
               c.user_renew_id        as c_user_renew_id,
               c.renew_time           as c_renew_time,

               r.id                   as r_id,
               r.role_id              as r_role_id,
               r.username             as r_username,
               r.password             as r_password,
               r.address              as r_address,
               r.phone                as r_phone,
               r.create_user_id       as r_create_user_id,
               r.create_time          as r_create_time,
               r.user_renew_id        as r_user_renew_id,
               r.renew_time           as r_renew_time,

               v.id                   as v_id,
               v.vendor_name          as v_vendor_name,
               v.sku_id               as v_sku_id,
               v.vendor_address       as v_vendor_address,
               v.desc                 as v_desc,
               v.principal            as v_principal,
               v.tel                  as v_tel,
               v.create_user_id       as v_create_user_id,
               v.create_time          as v_create_time,
               v.user_renew_id        as v_user_renew_id,
               v.renew_time           as v_renew_time
        from warehouse w
                 left join detailed_purchase dp on w.detailed_purchase_id = dp.id
                 left join goodsku g on w.sku_id = g.id
                 left join user c on w.create_user_id = c.id
                 left join user r on w.user_renew_id = r.id
                 left join vendor v on dp.vendor_id = v.id
        group by w.sku_id
    </select>
    <select id="selectBySkuIdWarehouses" resultMap="wareshouseMap">
        select w.id                   as w_id,
               w.detailed_purchase_id as w_detailed_purchase_id,
               w.stock_number         as w_stock_number,
               w.warehouse_address    as w_warehouse_address,
               w.phone                as w_phone,
               w.create_user_id       as w_create_user_id,
               w.create_time          as w_create_time,
               w.user_renew_id        as w_user_renew_id,
               w.renew_time           as w_renew_time,
               w.sku_id               as w_sku_id,

               dp.id                  as dp_id,
               dp.purchase_id         as dp_purchase_id,
               dp.vendor_id           as dp_vendor_id,
               dp.sku_id              as dp_sku_id,
               dp.batch               as dp_batch,
               dp.purchase_price      as dp_purchase_price,
               dp.number              as dp_number,
               dp.status              as dp_status,
               dp.create_user_id      as dp_create_user_id,
               dp.create_time         as dp_create_time,
               dp.user_renew_id       as dp_user_renew_id,
               dp.renew_time          as dp_renew_time,

               g.id                   as g_id,
               g.spu_id               as g_spu_id,
               g.sku_name             as g_sku_name,
               g.sku_desc             as g_sku_desc,
               g.color_id             as g_color_id,
               g.price_id             as g_price_id,
               g.Stock_id             as g_Stock_id,
               g.sales_volume         as g_sales_volume,
               g.company_id           as g_company_id,
               g.manufacturer         as g_manufacturer,
               g.Supplier_id          as g_Supplier_id,
               g.create_user_id       as g_create_user_id,
               g.create_time          as g_create_time,
               g.user_renewId         as g_user_renewId,
               g.renew_time           as g_renew_time,

               c.id                   as c_id,
               c.role_id              as c_role_id,
               c.username             as c_username,
               c.password             as c_password,
               c.address              as c_address,
               c.phone                as c_phone,
               c.create_user_id       as c_create_user_id,
               c.create_time          as c_create_time,
               c.user_renew_id        as c_user_renew_id,
               c.renew_time           as c_renew_time,

               r.id                   as r_id,
               r.role_id              as r_role_id,
               r.username             as r_username,
               r.password             as r_password,
               r.address              as r_address,
               r.phone                as r_phone,
               r.create_user_id       as r_create_user_id,
               r.create_time          as r_create_time,
               r.user_renew_id        as r_user_renew_id,
               r.renew_time           as r_renew_time,

               v.id                   as v_id,
               v.vendor_name          as v_vendor_name,
               v.sku_id               as v_sku_id,
               v.vendor_address       as v_vendor_address,
               v.desc                 as v_desc,
               v.principal            as v_principal,
               v.tel                  as v_tel,
               v.create_user_id       as v_create_user_id,
               v.create_time          as v_create_time,
               v.user_renew_id        as v_user_renew_id,
               v.renew_time           as v_renew_time
        from warehouse w
                 left join detailed_purchase dp on w.detailed_purchase_id = dp.id
                 left join goodsku g on w.sku_id = g.id
                 left join user c on w.create_user_id = c.id
                 left join user r on w.user_renew_id = r.id
                 left join vendor v on dp.vendor_id = v.id
        where w.sku_id = #{skuId}
    </select>


</mapper>