<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.WarehouseMapper">

    <resultMap id="selectListMap" type="com.zb.pojo.Warehouse">
        <result property="id" column="w_id"/>
        <result property="detailedWarehousingId" column="w_detailed_Warehousing_id"/>
        <result property="stockNumber" column="w_stock_number"/>
        <result property="warehouseAddress" column="w_warehouse_address"/>
        <result property="phone" column="w_phone"/>
        <result property="createUserId" column="w_create_user_id"/>
        <result property="createTime" column="w_create_time"/>
        <result property="userRenewId" column="w_user_renew_id"/>
        <result property="renewTime" column="w_renew_time"/>
        <result property="skuId" column="w_sku_id"/>
        <result property="batch" column="w_batch"/>

        <association property="detailedWarehousing" javaType="com.zb.pojo.DetailedWarehousing">
            <result property="id" column="dw_id"/>
            <result property="warehousingId" column="dw_warehousing_id"/>
            <result property="vendorId" column="dw_vendor_id"/>
            <result property="skuId" column="dw_sku_id"/>
            <result property="batch" column="dw_batch"/>
            <result property="purchasePrice" column="dw_purchase_price"/>
            <result property="number" column="dw_number"/>
            <result property="status" column="dw_status"/>
            <result property="logicDel" column="dw_logic_del"/>
            <result property="createUserId" column="dw_create_user_id"/>
            <result property="createTime" column="dw_create_time"/>
            <result property="userRenewId" column="dw_user_renew_id"/>
            <result property="renewTime" column="dw_renew_time"/>
            <association property="vendor" javaType="com.zb.pojo.Vendor">
                <result property="id" column="v_id"/>
                <result property="vendorName" column="v_vendor_name"/>
                <result property="skuId" column="v_sku_id"/>
                <result property="vendorAddress" column="v_vendor_address"/>
                <result property="desc" column="v_desc"/>
                <result property="principal" column="v_principal"/>
                <result property="tel" column="v_tel"/>
                <result property="createUserId" column="v_create_user_id"/>
                <result property="createTime" column="v_create_time"/>
                <result property="userRenewId" column="v_user_renew_id"/>
                <result property="renewTime" column="v_renew_time"/>
                <result property="purchaseTime" column="v_purchase_time"/>
            </association>
            <association property="warehousing" javaType="com.zb.pojo.Warehousing">
                <result property="id" column="w2_id"/>
                <result property="purchaseId" column="w2_purchase_id"/>
                <result property="detailedPurchaseId" column="w2_detailed_purchase_id"/>
                <result property="examineUserId" column="w2_examine_user_id"/>
                <result property="examineTime" column="w2_examine_time"/>
                <result property="warehousingUserId" column="w2_Warehousing_user_id"/>
                <result property="warehousingTime" column="w2_Warehousing_time"/>
                <result property="warehousingNumber" column="w2_Warehousing_number"/>
                <result property="status" column="w2_status"/>
                <result property="createUserId" column="w2_create_user_id"/>
                <result property="createTime" column="w2_create_time"/>
                <result property="userRenewId" column="w2_user_renew_id"/>
                <result property="renewTime" column="w2_renew_time"/>
                <result property="signingDetails" column="w2_signing_details"/>
                <result property="inventoryDetails" column="w2_inventory_details"/>
                <association property="examineUser" javaType="com.zb.pojo.User">
                    <result property="id" column="e_id"/>
                    <result property="roleId" column="e_role_id"/>
                    <result property="username" column="e_username"/>
                    <result property="password" column="e_password"/>
                    <result property="address" column="e_address"/>
                    <result property="phone" column="e_phone"/>
                    <result property="createUserId" column="e_create_user_id"/>
                    <result property="createTime" column="e_create_time"/>
                    <result property="userRenewId" column="e_user_renew_id"/>
                    <result property="renewTime" column="e_renew_time"/>
                </association>
                <association property="warehousingUser" javaType="com.zb.pojo.User">
                    <result property="id" column="w3_id"/>
                    <result property="roleId" column="w3_role_id"/>
                    <result property="username" column="w3_username"/>
                    <result property="password" column="w3_password"/>
                    <result property="address" column="w3_address"/>
                    <result property="phone" column="w3_phone"/>
                    <result property="createUserId" column="w3_create_user_id"/>
                    <result property="createTime" column="w3_create_time"/>
                    <result property="userRenewId" column="w3_user_renew_id"/>
                    <result property="renewTime" column="w3_renew_time"/>
                </association>
            </association>
        </association>

        <association property="goodsku" javaType="com.zb.pojo.Goodsku">
            <result property="id" column="gs_id"/>
            <result property="spuId" column="gs_spu_id"/>
            <result property="skuName" column="gs_sku_name"/>
            <result property="skuDesc" column="gs_sku_desc"/>
            <result property="colorId" column="gs_color_id"/>
            <result property="priceId" column="gs_price_id"/>
            <result property="stockId" column="gs_Stock_id"/>
            <result property="salesVolume" column="gs_sales_volume"/>
            <result property="companyId" column="gs_company_id"/>
            <result property="manufacturer" column="gs_manufacturer"/>
            <result property="supplierId" column="gs_Supplier_id"/>
            <result property="createUserId" column="gs_create_user_id"/>
            <result property="createTime" column="gs_create_time"/>
            <result property="userRenewId" column="gs_user_renewId"/>
            <result property="renewTime" column="gs_renew_time"/>
            <result property="logic_status" column="gs_logic_status"/>
            <association property="color" javaType="com.zb.pojo.Color">
                <result property="id" column="c_id"/>
                <result property="colorName" column="c_color_name"/>
                <result property="createUserId" column="c_create_user_id"/>
                <result property="createTime" column="c_create_time"/>
                <result property="userRenewId" column="c_user_renew_id"/>
                <result property="renewTime" column="c_renew_time"/>
            </association>
        </association>
        <association property="createUser" javaType="com.zb.pojo.User">
            <result property="id" column="cu_id"/>
            <result property="roleId" column="cu_role_id"/>
            <result property="username" column="cu_username"/>
            <result property="password" column="cu_password"/>
            <result property="address" column="cu_address"/>
            <result property="phone" column="cu_phone"/>
            <result property="createUserId" column="cu_create_user_id"/>
            <result property="createTime" column="cu_create_time"/>
            <result property="userRenewId" column="cu_user_renew_id"/>
            <result property="renewTime" column="cu_renew_time"/>
        </association>
    </resultMap>

    <insert id="insert">
        insert into warehouse (id, detailed_Warehousing_id, stock_number, warehouse_address, phone, create_user_id,
                               create_time, sku_id,batch)
        values (default, #{detailedWarehousingId}, #{stockNumber}, #{warehouseAddress}, #{phone}, #{createUserId},
                now(), #{skuId},#{batch});
    </insert>
    <select id="selectList" resultMap="selectListMap">
        select w.id                      as w_id,
               w.detailed_Warehousing_id as w_detailed_Warehousing_id,
               sum(w.stock_number)       as w_stock_number,
               w.warehouse_address       as w_warehouse_address,
               w.phone                   as w_phone,
               w.create_user_id          as w_create_user_id,
               w.create_time             as w_create_time,
               w.user_renew_id           as w_user_renew_id,
               w.renew_time              as w_renew_time,
               w.sku_id                  as w_sku_id,
               w.batch                   as w_batch,

               dw.id                     as dw_id,
               dw.warehousing_id         as dw_warehousing_id,
               dw.vendor_id              as dw_vendor_id,
               dw.sku_id                 as dw_sku_id,
               dw.batch                  as dw_batch,
               dw.purchase_price         as dw_purchase_price,
               dw.number                 as dw_number,
               dw.status                 as dw_status,
               dw.logic_del              as dw_logic_del,
               dw.create_user_id         as dw_create_user_id,
               dw.create_time            as dw_create_time,
               dw.user_renew_id          as dw_user_renew_id,
               dw.renew_time             as dw_renew_time,

               gs.id                     as gs_id,
               gs.spu_id                 as gs_spu_id,
               gs.sku_name               as gs_sku_name,
               gs.sku_desc               as gs_sku_desc,
               gs.color_id               as gs_color_id,
               gs.price_id               as gs_price_id,
               gs.Stock_id               as gs_Stock_id,
               gs.sales_volume           as gs_sales_volume,
               gs.company_id             as gs_company_id,
               gs.manufacturer           as gs_manufacturer,
               gs.Supplier_id            as gs_Supplier_id,
               gs.create_user_id         as gs_create_user_id,
               gs.create_time            as gs_create_time,
               gs.user_renewId           as gs_user_renewId,
               gs.renew_time             as gs_renew_time,
               gs.logic_status           as gs_logic_status,

               v.id                      as v_id,
               v.vendor_name             as v_vendor_name,
               v.sku_id                  as v_sku_id,
               v.vendor_address          as v_vendor_address,
               v.`desc`                  as v_desc,
               v.principal               as v_principal,
               v.tel                     as v_tel,
               v.create_user_id          as v_create_user_id,
               v.create_time             as v_create_time,
               v.user_renew_id           as v_user_renew_id,
               v.renew_time              as v_renew_time,
               v.purchase_time           as v_purchase_time,

               w2.id                     as w2_id,
               w2.purchase_id            as w2_purchase_id,
               w2.detailed_purchase_id   as w2_detailed_purchase_id,
               w2.examine_user_id        as w2_examine_user_id,
               w2.examine_time           as w2_examine_time,
               w2.Warehousing_user_id    as w2_Warehousing_user_id,
               w2.Warehousing_time       as w2_Warehousing_time,
               w2.Warehousing_number     as w2_Warehousing_number,
               w2.status                 as w2_status,
               w2.create_user_id         as w2_create_user_id,
               w2.create_time            as w2_create_time,
               w2.user_renew_id          as w2_user_renew_id,
               w2.renew_time             as w2_renew_time,
               w2.signing_details        as w2_signing_details,
               w2.inventory_details      as w2_inventory_details,

               e.id                      as e_id,
               e.role_id                 as e_role_id,
               e.username                as e_username,
               e.password                as e_password,
               e.address                 as e_address,
               e.phone                   as e_phone,
               e.create_user_id          as e_create_user_id,
               e.create_time             as e_create_time,
               e.user_renew_id           as e_user_renew_id,
               e.renew_time              as e_renew_time,

               w3.id                     as w3_id,
               w3.role_id                as w3_role_id,
               w3.username               as w3_username,
               w3.password               as w3_password,
               w3.address                as w3_address,
               w3.phone                  as w3_phone,
               w3.create_user_id         as w3_create_user_id,
               w3.create_time            as w3_create_time,
               w3.user_renew_id          as w3_user_renew_id,
               w3.renew_time             as w3_renew_time,

               cu.id                     as cu_id,
               cu.role_id                as cu_role_id,
               cu.username               as cu_username,
               cu.password               as cu_password,
               cu.address                as cu_address,
               cu.phone                  as cu_phone,
               cu.create_user_id         as cu_create_user_id,
               cu.create_time            as cu_create_time,
               cu.user_renew_id          as cu_user_renew_id,
               cu.renew_time             as cu_renew_time,

               c.id                      as c_id,
               c.color_name              as c_color_name,
               c.create_user_id          as c_create_user_id,
               c.create_time             as c_create_time,
               c.user_renew_id           as c_user_renew_id,
               c.renew_time              as c_renew_time
        from warehouse w
                 left join user cu on cu.id = w.create_user_id
                 left join detailed_warehousing dw on w.detailed_Warehousing_id = dw.id
                 left join vendor v on dw.vendor_id = v.id

                 left join warehousing w2 on dw.warehousing_id = w2.id
                 left join user e on w2.examine_user_id = e.id
                 left join user w3 on w2.Warehousing_user_id = w3.id

                 left join goodsku gs on w.sku_id = gs.id
                 left join color c on gs.color_id = c.id
        GROUP BY w.sku_id
    </select>
    <select id="selectBySkuIdWarehouses" resultMap="selectListMap">
        select w.id                      as w_id,
               w.detailed_Warehousing_id as w_detailed_Warehousing_id,
               w.stock_number            as w_stock_number,
               w.warehouse_address       as w_warehouse_address,
               w.phone                   as w_phone,
               w.create_user_id          as w_create_user_id,
               w.create_time             as w_create_time,
               w.user_renew_id           as w_user_renew_id,
               w.renew_time              as w_renew_time,
               w.sku_id                  as w_sku_id,
               w.batch                   as w_batch,

               dw.id                     as dw_id,
               dw.warehousing_id         as dw_warehousing_id,
               dw.vendor_id              as dw_vendor_id,
               dw.sku_id                 as dw_sku_id,
               dw.batch                  as dw_batch,
               dw.purchase_price         as dw_purchase_price,
               dw.number                 as dw_number,
               dw.status                 as dw_status,
               dw.logic_del              as dw_logic_del,
               dw.create_user_id         as dw_create_user_id,
               dw.create_time            as dw_create_time,
               dw.user_renew_id          as dw_user_renew_id,
               dw.renew_time             as dw_renew_time,

               gs.id                     as gs_id,
               gs.spu_id                 as gs_spu_id,
               gs.sku_name               as gs_sku_name,
               gs.sku_desc               as gs_sku_desc,
               gs.color_id               as gs_color_id,
               gs.price_id               as gs_price_id,
               gs.Stock_id               as gs_Stock_id,
               gs.sales_volume           as gs_sales_volume,
               gs.company_id             as gs_company_id,
               gs.manufacturer           as gs_manufacturer,
               gs.Supplier_id            as gs_Supplier_id,
               gs.create_user_id         as gs_create_user_id,
               gs.create_time            as gs_create_time,
               gs.user_renewId           as gs_user_renewId,
               gs.renew_time             as gs_renew_time,
               gs.logic_status           as gs_logic_status,

               v.id                      as v_id,
               v.vendor_name             as v_vendor_name,
               v.sku_id                  as v_sku_id,
               v.vendor_address          as v_vendor_address,
               v.`desc`                  as v_desc,
               v.principal               as v_principal,
               v.tel                     as v_tel,
               v.create_user_id          as v_create_user_id,
               v.create_time             as v_create_time,
               v.user_renew_id           as v_user_renew_id,
               v.renew_time              as v_renew_time,
               v.purchase_time           as v_purchase_time,

               w2.id                     as w2_id,
               w2.purchase_id            as w2_purchase_id,
               w2.detailed_purchase_id   as w2_detailed_purchase_id,
               w2.examine_user_id        as w2_examine_user_id,
               w2.examine_time           as w2_examine_time,
               w2.Warehousing_user_id    as w2_Warehousing_user_id,
               w2.Warehousing_time       as w2_Warehousing_time,
               w2.Warehousing_number     as w2_Warehousing_number,
               w2.status                 as w2_status,
               w2.create_user_id         as w2_create_user_id,
               w2.create_time            as w2_create_time,
               w2.user_renew_id          as w2_user_renew_id,
               w2.renew_time             as w2_renew_time,
               w2.signing_details        as w2_signing_details,
               w2.inventory_details      as w2_inventory_details,

               e.id                      as e_id,
               e.role_id                 as e_role_id,
               e.username                as e_username,
               e.password                as e_password,
               e.address                 as e_address,
               e.phone                   as e_phone,
               e.create_user_id          as e_create_user_id,
               e.create_time             as e_create_time,
               e.user_renew_id           as e_user_renew_id,
               e.renew_time              as e_renew_time,

               w3.id                     as w3_id,
               w3.role_id                as w3_role_id,
               w3.username               as w3_username,
               w3.password               as w3_password,
               w3.address                as w3_address,
               w3.phone                  as w3_phone,
               w3.create_user_id         as w3_create_user_id,
               w3.create_time            as w3_create_time,
               w3.user_renew_id          as w3_user_renew_id,
               w3.renew_time             as w3_renew_time,

               cu.id                     as cu_id,
               cu.role_id                as cu_role_id,
               cu.username               as cu_username,
               cu.password               as cu_password,
               cu.address                as cu_address,
               cu.phone                  as cu_phone,
               cu.create_user_id         as cu_create_user_id,
               cu.create_time            as cu_create_time,
               cu.user_renew_id          as cu_user_renew_id,
               cu.renew_time             as cu_renew_time,

               c.id                      as c_id,
               c.color_name              as c_color_name,
               c.create_user_id          as c_create_user_id,
               c.create_time             as c_create_time,
               c.user_renew_id           as c_user_renew_id,
               c.renew_time              as c_renew_time
        from warehouse w
                 left join user cu on cu.id = w.create_user_id
                 left join detailed_warehousing dw on w.detailed_Warehousing_id = dw.id
                 left join vendor v on dw.vendor_id = v.id

                 left join warehousing w2 on dw.warehousing_id = w2.id
                 left join user e on w2.examine_user_id = e.id
                 left join user w3 on w2.Warehousing_user_id = w3.id

                 left join goodsku gs on w.sku_id = gs.id
                 left join color c on gs.color_id = c.id
        where w.sku_id = #{skuId}
    </select>


</mapper>